{% if data_amigo_seleccionado|length %}
<div class="user-profile__close d-flex d-xl-none">
  <i class="bi bi-x-lg"></i>
</div>
<div class="user-profile__wrapper">
  <div class="user-profile__avatar">
    <img
      src="{{ url_for('static', filename='fotos_users/' + data_amigo_seleccionado.foto_user) }}"
      alt="{{ data_amigo_seleccionado.user }}"
      loading="lazy" />
  </div>
  <div class="user-profile__details mt-1">
    <span class="user-profile__name">{{ data_amigo_seleccionado.user }}</span>
    <span class="user-profile__phone">
      {{ data_amigo_seleccionado.tlf_user}}
    </span>
    <span> {{ data_amigo_seleccionado.email_user}} </span>
    <span class="user-profile__location">Bogotá, Colombia</span>
  </div>
  <div class="user-profile__description">
    <p>{{ data_amigo_seleccionado.description_user}}</p>
  </div>
</div>
{% endif %}
