<div class="col-12 col-md-4 col-lg-5 col-xl-3 px-0 messages-page__list-scroll">
  <div class="messages-page__search mb-0 px-3 pb-3">
    <div class="custom-form__search-wrapper">
      <input
        type="text"
        class="form-control custom-form"
        id="search"
        placeholder="Buscar amigo - chat"
        autocomplete="off" />
      <button type="submit" class="custom-form__search-submit">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>

  {% if lista_amigos|length %}
  <ul class="messages-page__list pb-5 px-1 px-md-3">
    {% for amigo in lista_amigos %}
    <li
      class="messaging-member"
      id="{{ amigo.id_user }}"
      data-search="{{ amigo.user }} {{ amigo.email_user }}">
      <div class="messaging-member__wrapper">
        <div class="messaging-member__avatar">
          <img
            src="{{ url_for('static', filename='fotos_users/' + amigo.foto_user) }}"
            alt="Perfil - {{ amigo.user }}"
            loading="lazy" />
          {% if amigo.online == 0 %}
          <div class="user-status"></div>
          {% else %}
          <div class="user-status amigo_activo"></div>
          {% endif %}
        </div>

        <span class="messaging-member__name">
          {% if amigo.user|length > 20 %}
          <!---->
          {{amigo.user[:20] + "..." }}
          <!---->
          {% else %}
          <!---->
          {{ amigo.user}} {% endif %}
          <!---->
          {% if amigo.total_mensajes_sin_leer %}
          <div class="mensajes_sin_leer">
            <span>{{ amigo.total_mensajes_sin_leer }}</span>
          </div>
          {% endif %}
        </span>

        <span class="messaging-member__message"> {{ amigo.email_user}} </span>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>Aún no tienes amigos 😭</p>
  {% endif %}
</div>
