<ul class="chat__list-messages">
  {% for mensajes in lista_mensajes %}
  <!---->
  {% if session['id_user'] != mensajes.desde_id_user %}
  <li>
    <div class="chat__time">{{ mensajes.fecha_dia_mes_year}}</div>
    {% if mensajes.archivo_img is not none and mensajes.archivo_img != '' %}
    <div class="contenedor_img">
      <img
        src="{{ url_for('static', filename='archivos_chat/' + mensajes.archivo_img) }}"
        alt=""
        style="max-width: 80%" />
      <a href="#">
        <i id="{{mensajes.archivo_img}}" class="bi bi-cloud-arrow-down"></i>
      </a>
    </div>
    {% endif %}
    <!---->
    {% if mensajes.file_audio is not none and mensajes.file_audio != '' %}
    <!---->
    <br />
    <audio
      src="{{ url_for('static', filename='audios_chat/' + mensajes.file_audio) }}"
      controls>
      Tu navegador no admite la reproducción de audio.
    </audio>
    {% endif %}
    <!---->
    {% if mensajes.mensaje is not none and mensajes.mensaje != '' %}
    <div class="chat__bubble chat__bubble--you">{{ mensajes.mensaje }}</div>
    {% endif %}
  </li>
  {% else %}
  <li>
    <div class="chat__time" style="align-self: end">
      {{ mensajes.fecha_dia_mes_year}}
    </div>
    {% if mensajes.archivo_img is not none and mensajes.archivo_img != '' %}
    <div class="contenedor_img">
      <img
        src="{{ url_for('static', filename='archivos_chat/' + mensajes.archivo_img) }}"
        alt=""
        style="max-width: 80%" />
      <a href="#">
        <i id="{{mensajes.archivo_img}}" class="bi bi-cloud-arrow-down"></i>
      </a>
    </div>
    {% endif %}
    <span style="align-self: flex-end">
      {% if mensajes.file_audio is not none and mensajes.file_audio != '' %}
      <br />
      <audio
        src="{{ url_for('static', filename='audios_chat/' + mensajes.file_audio) }}"
        controls>
        Tu navegador no admite la reproducción de audio.
      </audio>
    </span>
    {% endif %}
    <!---->
    {% if mensajes.mensaje is not none and mensajes.mensaje != '' %}
    <div class="chat__bubble chat__bubble--me">{{ mensajes.mensaje}}</div>
    {% endif %}
  </li>
  {% endif %}
  <!---->
  {% endfor %}
</ul>
