.toast_custom {
  background-color: #f5f6fa;
  position: absolute;
  top: 2px;
  right: 12px;
  border-radius: 12px;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);

  animation: efectoBounce 0.3s ease alternate;
  z-index: 9999;
}

.toast_custom.active {
  transform: translateX(0%);
}

.toast_custom .toast-content {
  display: flex;
  align-items: center;
}

.toast-content .check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  min-width: 35px;
  background-color: #7246e5;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
}

.toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
}

.message .text {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}

.message .text.text-1 {
  font-weight: 600;
  color: #333;
}

.toast_custom .close {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0px;
  cursor: pointer;
  opacity: 0.7;

  color: black;
  font-size: 30px;
  cursor: pointer;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background: #d7d4d4;
  transition: all 0.3s ease;
}

.toast_custom .close:hover {
  opacity: 1.5 !important;
}

.toast_custom .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
}

.toast_custom .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #7246e5;
}

.progress.active:before {
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}

.toast_custom.active ~ button {
  pointer-events: none;
}

@keyframes efectoBounce {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}
