nav {
  /*position: fixed;*/
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #fff;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 15px 60px rgba(62, 62, 62, 0.102) !important;
}
.nav_nocturno {
  color: #fff;
  background-color: #313131 !important;
}
/* menu toggle */
.menu-toggle {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h3 {
  font-size: 15px !important;
}
.bi-wechat {
  font-size: 50px;
}

/* profile menu */

.profile {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  text-align: end;
}

.profile h3 {
  text-align: end;
  line-height: 1;
  margin-bottom: 4px;
  font-weight: 600;
}

.profile p {
  line-height: 1;
  font-size: 14px;
  opacity: 0.6;
}

.profile .img-box {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}

.profile .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* menu (the right one) */

.menu {
  position: absolute;
  top: 85px;
  right: 70px;
  width: 200px;
  min-height: 100px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition: 300ms;
  z-index: 1;
}

.menu::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 14px;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
  z-index: -1;
}

.menu.active {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

/* menu links */

.menu ul {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 10;
  background: #fff;
}

.menu ul li {
  list-style: none;
}

.menu ul li:hover {
  background: #eee;
}

.menu ul li a {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  padding: 8px 20px;
  gap: 6px;
}

.menu ul li a i {
  font-size: 1.2em;
}

.bi-moon {
  font-size: 20px;
  color: #1a7ee6;
}

.dark_mode_toogler {
  width: 2.6rem;
  height: 2.6rem;
  padding: 0.35rem;
  border-radius: 50%;
  border: 1px solid #d8d8d8;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff !important;
}
.dark_mode_toogler:hover .bi-moon {
  color: #fff;
}

.dark_mode_toogler:hover {
  background-color: #7246e5;
  border-color: #7246e5;
}
