.backgroundBody {
  background-color: #f2f4f6;
}

/* Estilos para el modo claro (cuando "dark-mode" NO está presente en <body>) */
body:not(.dark-mode) .messaging-member:hover {
  background-color: #e1e1e1;
  animation-name: hoverTransiton;
  animation-duration: 0.6s;
}
body:not(.dark-mode) .mensajes_sin_leer {
  background-color: #c8bee3;
}
body:not(.dark-mode) .custom-form__search-wrapper input:placeholder-shown {
  background-color: #fff;
  border: 1px solid var(--bg-page);
}

body:not(.dark-mode) .custom-form__send-wrapper input {
  background-color: #fff;
}
body:not(.dark-mode) .bi-moon {
  color: #8665df;
}
body:not(.dark-mode) .chat__bubble--me {
  background-color: #aaa8a8;
}
body:not(.dark-mode) .form_perfil {
  background-color: #fff;
}
body:not(.dark-mode) .btn_perfil {
  background-color: #9576f0;
}
body:not(.dark-mode) .file_perfil {
  background-color: #f2eeee;
  border: none;
}
body:not(.dark-mode) .input_perfil {
  background-color: #f9f9f9;
}
body:not(.dark-mode) textarea {
  background-color: #f9f9f9;
}

/* Estilos para el modo oscuro (cuando "dark-mode" SI está presente en <body>) */
body.dark-mode .messaging-member:hover {
  background-color: #333;
  animation-name: hoverTransiton;
  animation-duration: 0.6s;
}
body.dark-mode .mensajes_sin_leer {
  background-color: #534e62;
}
body.dark-mode .messaging_member_active {
  background-color: #333;
}
body.dark-mode .bi-wechat {
  color: #fff;
}
body .custom-form__search-wrapper input:placeholder-shown {
  background-color: #403d3d;
  border: 1px solid var(--bg-page);
}
body .bi-moon {
  color: #fff;
}
body .input_perfil {
  background-color: #d9d4d4;
}
body .textarea {
  background-color: #d9d4d4;
}
