<div
  class="chat__messaging messaging-member--online pb-2 pb-md-2 pl-2 pl-md-4 pr-2">
  <div class="chat__previous d-flex d-md-none">
    <i class="bi bi-arrow-down"></i>
  </div>

  <div class="chat__infos pl-2 pl-md-0">
    <div class="chat-member__wrapper" data-online="true">
      <div class="chat-member__avatar">
        <img
          src="{{ url_for('static', filename='fotos_users/' + resp_status_amigo.foto_user) }}"
          alt="Perfil - {{ resp_status_amigo.user}}"
          loading="lazy" />
        {% if resp_status_amigo.online == 0 %}
        <div class="user-status"></div>
        {% else %}
        <div class="user-status amigo_activo"></div>
        {% endif %}
      </div>
      <div class="chat-member__details">
        <span class="chat-member__name">{{ resp_status_amigo.user}}</span>
        <span class="chat-member__status">
          {% if resp_status_amigo.online ==0 %} Desconectado {% else %}
          Conectado {% endif %}
        </span>
      </div>
    </div>
  </div>
  <div class="chat__actions mr-2">
    <ul class="m-0">
      <li class="chat__details d-flex d-xl-none">
        <i class="bi bi-three-dots"></i>
      </li>
    </ul>
  </div>
</div>
