<div id="left">
  <div id="signin">
    <div class="logo">
      <i class="bi bi-wechat favicon_log"></i>
    </div>
    <form action="/iniciar-sesion" method="POST" autocomplete="off">
      <div>
        <label>Email</label>
        <input type="text" name="email_user" class="text-input" required />
      </div>
      <div>
        <label>Password</label>
        <input type="password" name="pass_user" class="text-input" required />
      </div>
      <button type="submit" class="primary-btn">
        Iniciar sesión
        <i class="bi bi-arrow-right-circle"></i>
      </button>
    </form>

    <div class="links mt-5">
      <a href="/crear-cuenta">
        Crear cuenta
        <i class="bi bi-person-vcard"></i>
      </a>
      /
      <a href="/recuperar-cuenta">
        Recuperar cuenta
        <i class="bi bi-exclamation-triangle"></i>
      </a>
    </div>
  </div>
</div>
