<div id="left">
  <div id="signin">
    <div class="logo">
      <img
        src="https://image.ibb.co/hW1YHq/login-logo.png"
        alt="Sluralpright" />
    </div>
    <form>
      <div>
        <label>Email</label>
        <input type="text" class="text-input" />
      </div>
      <div>
        <label>Password</label>
        <input type="password" class="text-input" />
      </div>
      <button type="submit" class="primary-btn">Iniciar sesión</button>
    </form>

    <div class="links mt-5">
      <a href="/crear-cuenta">Crear cuenta</a> /
      <a href="/recuperar-cuenta">Recuperar cuenta</a>
    </div>
  </div>
</div>
