<div id="left">
  <h1 class="titulo">
    Conéctate y conoce a personas de todo <br />
    el mundo con
    <span style="color: #7246e5; font-size: 40px"> AmigosOnline </span>
  </h1>
  <div id="signin">
    <div class="logo">
      <i class="bi bi-wechat favicon_log"></i>
    </div>
    <form
      id="form_login"
      action="/iniciar-sesion"
      method="POST"
      autocomplete="off">
      <div>
        <label>Email</label>
        <input type="text" name="email_user" class="text-input" required />
      </div>
      <div>
        <label>Password</label>
        <input type="password" name="pass_user" class="text-input" required />
      </div>
      <button type="submit" class="primary-btn">
        Iniciar sesión
        <i class="bi bi-arrow-right-circle"></i>
      </button>
    </form>

    <div class="links mt-5">
      <a href="/crear-cuenta">
        <i class="bi bi-person-vcard"></i>
        Crear cuenta
      </a>
      /
      <a href="/recuperar-cuenta">
        Recuperar cuenta
        <i class="bi bi-exclamation-triangle"></i>
      </a>
    </div>
  </div>
</div>
{% block customJS %}
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
<script>
  const socket = io();

  // Escuchando connect
  socket.on("connect", function () {
    console.log("Socket Activo y escuchando.!");
  });

  // Escuchando disconnect
  socket.on("disconnect", function () {
    console.log("Socket Desconectado.!");
  });
</script>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}
