{% extends "public/login/base_login.html" %}
<!---->
{% block title %}Chat - Crear cuenta{% endblock %}
<!---->
{% block customCSS %}
<style>
  #signin .text-input {
    margin-bottom: 0.3rem;
  }
  #signin .logo {
    margin-bottom: 0px;
  }
</style>
{% endblock %} {% block content %}
<div id="left">
  <div id="signin">
    <div class="logo">
      <img
        src="{{ url_for('static', filename='imgs/logo_chat.png') }}"
        alt="Logo" />
    </div>
    <form
      action="/procesar-cuenta-user"
      method="POST"
      autocomplete="off"
      enctype="multipart/form-data">
      <div>
        <label>Nombre y Apellido</label>
        <input type="text" name="user" class="text-input" required />
      </div>
      <div>
        <label>Email</label>
        <input type="text" name="email_user" class="text-input" required />
      </div>
      <div>
        <label>Password</label>
        <input type="password" name="pass_user" class="text-input" required />
      </div>
      <div>
        <label>Telefono</label>
        <input type="number" name="tlf_user" class="text-input" required />
      </div>
      <div class="personal-image">
        <label class="label">
          <input type="file" name="foto_user" id="upload-input" required />
          <figure class="personal-figure">
            <img
              src="{{ url_for('static', filename='imgs/perfil.png') }}"
              class="personal-avatar"
              id="avatar-img" />
            <figcaption class="personal-figcaption">
              <img
                src="{{ url_for('static', filename='imgs/camera-white.png') }}"
                id="camera-img" />
            </figcaption>
          </figure>
        </label>
      </div>

      <button type="submit" class="primary-btn mt-2">
        Crear mi cuenta
        <i class="bi bi-arrow-repeat"></i>
      </button>
    </form>

    <div class="links mt-2">
      <a href="/login">
        <i class="bi bi-reply-all-fill"></i>
        Volver
      </a>
      /
      <a href="/recuperar-cuenta">
        Recuperar cuenta
        <i class="bi bi-exclamation-triangle"></i>
      </a>
    </div>
  </div>
</div>
{% endblock %} {% block customJS %}
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}
