{% extends "public/login/base_login.html" %}
<!---->
{% block title %}Chat - Crear cuenta{% endblock %}
<!---->
{% block customCSS %}
<style>
  #signin .text-input {
    margin-bottom: 0.3rem;
  }
  #signin .logo {
    margin-bottom: 0px;
  }
</style>
{% endblock %} {% block content %}
<div id="left">
  <div id="signin">
    <div class="logo">
      <img
        src="https://image.ibb.co/hW1YHq/login-logo.png"
        alt="Sluralpright" />
    </div>
    <form
      action="/procesar-cuenta-user"
      method="POST"
      autocomplete="off"
      enctype="multipart/form-data">
      <div>
        <label>Nombre y Apellido</label>
        <input type="text" class="text-input" />
      </div>
      <div>
        <label>Email</label>
        <input type="text" class="text-input" />
      </div>
      <div>
        <label>Password</label>
        <input type="password" class="text-input" />
      </div>
      <div>
        <label>Telefono</label>
        <input type="number" class="text-input" />
      </div>

      <div class="personal-image">
        <label class="label">
          <input type="file" id="upload-input" />
          <figure class="personal-figure">
            <img
              src="{{ url_for('static', filename='imgs/perfil.png') }}"
              class="personal-avatar"
              id="avatar-img" />
            <figcaption class="personal-figcaption">
              <img
                src="{{ url_for('static', filename='imgs/camera-white.png') }}"
                id="camera-img" />
            </figcaption>
          </figure>
        </label>
      </div>

      <button type="submit" class="primary-btn mt-2">Iniciar sesión</button>
    </form>

    <div class="links mt-2">
      <a href="/login">Volver</a> /
      <a href="/recuperar-cuenta">Recuperar cuenta</a>
    </div>
  </div>
</div>
{% endblock %} {% block customJS %}
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}
